mat-card {
    width: 350px;
    text-align: center;
    margin: 20px auto;
    background-color: #e1e1e1;
  }

  mat-card .card-details {
    text-align: left;
    margin: 20px;
  }
  mat-card mat-card-content {
    margin-top: 10px;
  }
  mat-card mat-card-actions {
    text-align: right;
  }
  mat-card p {
    margin: 0px;
  }
  mat-card h4 {
    font-weight: 700;
  }
  mat-card mat-card-header {
    position: absolute;
    height: 50px;
    width: 92%;
    top: 140px;
    background-color: #000 4a;
    padding-top: 25px;
    border-radius: 50px;
  }
  mat-card .icon-actions {
    text-align: right;
  }
  mat-card .icon-actions mat-icon {
    color: #fff;
    height: 60px;
    width: 60px;
    font-size: 32px;
  }
  mat-card .mat-flat-button.mat-primary, mat-card .mat-raised-button.mat-primary, mat-card .mat-fab.mat-primary, mat-card .mat-mini-fab.mat-primary {
    background-color: #000 de;
  }
  mat-card .mat-button.mat-primary, mat-card .mat-icon-button.mat-primary, mat-card .mat-stroked-button.mat-primary {
    color: #000 de;
  }


  