<div class="background" style="background-image: url('assets/images/bg.jpg');">
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>audiotrack</mat-icon>
  </button>
  <span>Music Player</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div class="search-container">
  <app-search-bar (searchQuery)="searchSong($event)"> </app-search-bar>
</div>
<div class="card-container" style="
height: 500px;
overflow-y: auto;
">
  <app-card [music]="music"></app-card>
</div>
</div>