.example-spacer {
    flex: 1 1 auto;
  }

  .search-container {
    margin: 20px auto;
    width: 100%;
    text-align: center;
  }
  .card-container {
    margin: 20px auto;
    width: 100%;
    text-align: center;
  }


  .background{
    margin: 0;
    /* background: url('/assets/images/loginbackground.png') no-repeat center center fixed; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }